*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #031923;
  --yellow: #e5bb33;
  --blue: #205b75;
  --white: #ffffff;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--black);
}

h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  margin: 0;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  color: var(--blue);
  margin: 0;
}

h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 40px;
}

h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.text-wrapper {
  max-width: 800px;
}

p {
  margin: 0;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.main-footer {
  color: var(--white);
  background-color: var(--blue);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 120px;
}

.main-header {
  display: flex;
  padding-top: 60px;
  gap: 40px;
  align-items: center;
  margin-bottom: 120px;
}

.main-header_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header img {
  width: 60px;
  height: 60px;
}

.main-header nav {
  display: flex;
}

.main-header nav a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--black);
}

.main-header nav a:hover {
  color: var(--blue);
}

.nav-btn {
  display: none;
}

section {
  margin: 0;
  margin-bottom: 120px;
}

.avatar-section {
  display: flex;
  gap: 70px;
  align-items: center;
}

.avatar-section > img {
  border-radius: 50%;
}

.intro {
}

.skills {
}

.skills > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;
}

.skills h2 {
  margin: 0;
}

.skills-sort {
  display: flex;
  gap: 20px;
  align-items: center;
}

.skills button {
  padding: 6px 10px 10px;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 8px;
  text-transform: lowercase;
}

.skills button:hover {
  color: var(--white);
  background-color: var(--blue);
}

.skill-list {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.skill-list dt {
  margin-bottom: 4px;
  padding: 5px 0 5px 38px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
}

.skill-level {
  margin: 4px 0 20px;
  padding: 2px;
  font-size: 0;
  border: 1px solid var(--blue);
  border-radius: 16px;
}

.skill-level div {
  height: 14px;
  background-color: var(--yellow);
  border-radius: 8px;
}

.skill-item {
  text-transform: lowercase;
}

.skill-item_html {
  background-image: url("../img/skills/html.svg");
}

.skill-item_css {
  background-image: url("../img/skills/css.svg");
}

.skill-item_cpp {
  background-image: url("../img/skills/c++.svg");
}

.skill-item_python {
  background-image: url("../img/skills/python.svg");
}

.interests {
}

.contacts {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.social li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link:hover {
  background-color: var(--yellow);
}

.social-link_telegram {
  background-image: url("../img/social/telegram.svg");
}

.social-link_vk {
  background-image: url("../img/social/vk.svg");
}

.social-link_github {
  background-image: url("../img/social/github.svg");
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 40px;
  margin-bottom: 40px;
}

.contact li {
  display: inline-block;
  padding: 0;
}

.contact a {
  text-decoration: none;
  color: var(--black);
}

.contact a:hover {
  color: var(--blue);
}

.contact-link {
  display: block;
  background-repeat: no-repeat;
  padding-left: 42px;
  background-position: 0 center;
}

.contact-link_tel {
  background-image: url("../img/contacts/tel.svg");
}

.contact-link_mail {
  background-image: url("../img/contacts/mail.svg");
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .subtitle {
    font-size: 28px;
  }
  body {
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
  button {
    font-size: 14px;
  }
  .avatar-section img {
    width: 250px;
    height: 250px;
  }
  .contact-link {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

/* @media screen and (max-width: 768px) {

} */

@media screen and (max-width: 650px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 16px;
  }
  .subtitle {
    font-size: 20px;
  }
  body {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }

  .main-header {
    flex-direction: column;
    gap: 20px;
  }

  .main-header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
  }

  .main-header nav a {
    text-align: center;
  }

  .main-header img {
    width: 40px;
    height: 40px;
  }

  .nav-btn {
    display: block;
    width: 30px;
    height: 30px;
  }

  .nav-btn_close {
    background-image: url(../img/icons/close.svg);
  }

  .nav-btn_open {
    background-image: url(../img/icons/burger.svg);
  }

  .avatar-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    text-align: center;
  }

  .avatar-section img {
    width: 150px;
    height: 150px;
  }

  .skills > div {
    margin-bottom: 30px;
  }

  .contact {
    margin-bottom: 30px;
  }

  .contact-link {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .main-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 380px) {
  .skills > div {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    text-align: left;
  }

  .skills-sort {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
  }

  .skills button {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .contact {
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
    gap: 15px;
  }
  .social {
    gap: 15px;
  }
}
