*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #031923;
  --yellow: #e5bb33;
  --blue: #205b75;
  --white: #ffffff;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--black);
}

h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}

.subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  color: var(--blue);
}

h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.main-footer {
  color: var(--white);
  background-color: var(--blue);
}

.main-header {
  display: flex;
  padding-top: 60px;
  gap: 40px;
  align-items: center;
}

.main-header nav {
  display: flex;
}

.main-header nav a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--black);
}

.main-header nav a:hover {
  color: var(--blue);
}

.intro {}

.skills {}

.skills button {
  padding: 6px 10px 10px;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 8px;
  text-transform: lowercase;
}

.skills button:hover {
  color: var(--white);
  background-color: var(--blue);
}

.skill-list {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.skill-list dt {
  margin-bottom: 6px;
  padding: 5px 0 5px 38px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
}


.skill-level {
  margin: 4px 0 16px;
  padding: 2px;
  font-size: 0;
  border: 1px solid var(--blue);
  border-radius: 16px;
}


.skill-level div {
  height: 14px;
  background-color: var(--yellow);
  border-radius: 8px;
}


.skill-item {
  text-transform: lowercase;
}


.skill-item_html {
  background-image: url("../img/skills/html.svg");
}


.skill-item_css {
  background-image: url("../img/skills/css.svg");
}


.skill-item_cpp {
  background-image: url("../img/skills/c++.svg");
}


.skill-item_python {
  background-image: url("../img/skills/python.svg");
}

.interests {}

.contacts {}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link:hover {
  background-color: var(--yellow);
}

.social-link_telegram {
  background-image: url("../img/social/telegram.svg");
}

.social-link_vk {
  background-image: url("../img/social/vk.svg");
}

.social-link_github {
  background-image: url("../img/social/github.svg");
}

.contact {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact li {
  display: inline-block;
  /* margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px; */
  padding: 0;
}

.contact li a {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
}

.contact li a:hover {
  color: var(--blue);
}

.contact-link {
  display: block;
  background-repeat: no-repeat;
  padding-left: 42px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-link_tel {
  background-image: url("../img/contacts/tel.svg");
}

.contact-link_mail {
  background-image: url("../img/contacts/mail.svg");
}